<nav class="navbar">
    <div class="nav-right">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/products.html">Products</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/login.html">Login</a></li>
        <li><a href="/register.html">Sign Up</a></li>
    </div>
</nav>

<div class="section-body">
    <div class="vertical-nav">
        <ul>
            <h4><left>Category</left></h4>
            <li><a href="#Action">Action</a></li>
            <li><a href="#Adventure">Adventure</a></li>
            <li><a href="#Romance">Romance</a></li>
            <li><a href="#Drama">Drama</a></li>                    
            <li><a href="#Kids">For Kids</a></li>
            <li><a href="#True Crime">True Crime</a></li>
            <li><a href="#Politics">Politics</a></li>
            <li><a href="#Sci-Fi">Science Fiction</a></li>
            <li><a href="#Comedy">Comedy</a></li>
        </ul>
    </div>

    <div class="gallery-main" style="margin-left:25%;padding:1px 16px;height:1000px;">
        <div class="Action" id="Action">
            <h2>Action</h2>

            <div class="action-image">
                <div class="image-holder">
                    <a href="#">
                        <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/51qE5LN8T3L.jpg" alt="img-1">
                    </a>
                    <div class="desc">

                        <br>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <button>Read</button>
                    </div>
                </div>

                <div class="image-holder">
                    <a href="#">
                        <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/51qE5LN8T3L.jpg" alt="img-1">
                    </a>
                    <div class="desc">
                       
                        <br>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <button>Read</button>
                    </div>
                </div>

                <div class="image-holder">
                    <a href="#">
                        <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/51qE5LN8T3L.jpg" alt="img-1">
                    </a>
                    <div class="desc">
                        
                        <br>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <button>Read</button>
                    </div>
                </div>

                <div class="image-holder">
                    <a href="#">
                        <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/51qE5LN8T3L.jpg" alt="img-1">
                    </a>
                    <div class="desc">
                        
                        <br>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <a href="#"></a></li><button>Read</button></a>
                    </div>
                </div>

                <div class="image-holder">
                    <a href="#">
                        <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/51qE5LN8T3L.jpg" alt="img-1">
                    </a>
                    <div class="desc">
                        
                        <br>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <button>Read</button>
                    </div>
                </div>

                <div class="image-holder">
                    <a href="#">
                        <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/51qE5LN8T3L.jpg" alt="img-1">
                    </a>
                    <div class="desc">
                        
                        <br>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <button>Read</button>
                    </div>
                </div>

                <div class="image-holder">
                    <a href="#">
                        <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/51qE5LN8T3L.jpg" alt="img-1">
                    </a>
                    <div class="desc">
                        
                        <br>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <button>Read</button>
                    </div>
                </div>

                <div class="image-holder">
                    <a href="#">
                        <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/51qE5LN8T3L.jpg" alt="img-1">
                    </a>
                    <div class="desc">
                        
                        <br>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <button>Read</button>
                    </div>
                </div>
                <div class="image-holder">
                    <a href="#">
                        <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/51qE5LN8T3L.jpg" alt="img-1">
                    </a>
                    <div class="desc">
                        
                        <br>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <button>Read</button>
                    </div>
                </div>

                <div class="image-holder">
                    <a href="#">
                        <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/51qE5LN8T3L.jpg" alt="img-1">
                    </a>
                    <div class="desc">
                        
                        <br>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <button>Read</button>
                    </div>
                </div>

                <div class="image-holder">
                    <a href="#">
                        <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/51qE5LN8T3L.jpg" alt="img-1">
                    </a>
                    <div class="desc">
                        
                        <br>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <button>Read</button>
                    </div>
                </div>

                <div class="image-holder">
                    <a href="#">
                        <img src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/51qE5LN8T3L.jpg" alt="img-1">
                    </a>
                    <div class="desc">
                        
                        <br>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <button>Read</button>
                    </div>
                </div>

            </div>

            <!-- Adventure -->

            <div class="Adventure" id="Adventure">
                <h2>Adventure</h2>

                <div class="adventure-image">
                    <div class="image-holder">
                        <a href="#">
                            <img src="https://www.oars.com/wp-content/uploads/2016/12/Hatchet-web.jpg" alt="img-1">
                        </a>
                        <div class="desc">
                            Author: Doughlas Preston
                            <br>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <button>Read</button>
                        </div>
                    </div>

                    <div class="image-holder">
                        <a href="#">
                            <img src="https://www.oars.com/wp-content/uploads/2016/12/Hatchet-web.jpg" alt="img-1">
                        </a>
                        <div class="desc">
                            Author : 
                            <br>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <button>Read</button>
                        </div>
                    </div>

                    <div class="image-holder">
                        <a href="#">
                            <img src="https://www.oars.com/wp-content/uploads/2016/12/Hatchet-web.jpg" alt="img-1">
                        </a>
                        <div class="desc">
                            Author :
                            <br>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <button>Read</button>
                        </div>
                    </div>

                    <div class="image-holder">
                        <a href="#">
                            <img src="https://www.oars.com/wp-content/uploads/2016/12/Hatchet-web.jpg" alt="img-1">
                        </a>
                        <div class="desc">
                            Author : 
                            <br>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <button>Read</button>
                        </div>
                    </div>

                    <div class="image-holder">
                        <a href="#">
                            <img src="https://www.oars.com/wp-content/uploads/2016/12/Hatchet-web.jpg" alt="img-1">
                        </a>
                        <div class="desc">
                            Author : 
                            <br>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <button>Read</button>
                        </div>
                    </div>

                    <div class="image-holder">
                        <a href="#">
                            <img src="https://www.oars.com/wp-content/uploads/2016/12/Hatchet-web.jpg" alt="img-1">
                        </a>
                        <div class="desc">
                            Author :
                            <br>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <button>Read</button>
                        </div>
                    </div>

                    <div class="image-holder">
                        <a href="#">
                            <img src="https://www.oars.com/wp-content/uploads/2016/12/Hatchet-web.jpg" alt="img-1">
                        </a>
                        <div class="desc">
                            Author : 
                            <br>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <button>Read</button>
                        </div>
                    </div>

                    <div class="image-holder">
                        <a href="#">
                            <img src="https://www.oars.com/wp-content/uploads/2016/12/Hatchet-web.jpg" alt="img-1">
                        </a>
                        <div class="desc">
                            Author : 
                            <br>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <button>Read</button>
                        </div>
                    </div>
                    <div class="image-holder">
                        <a href="#">
                            <img src="https://www.oars.com/wp-content/uploads/2016/12/Hatchet-web.jpg" alt="img-1">
                        </a>
                        <div class="desc">
                            Author : 
                            <br>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <button>Read</button>
                        </div>
                    </div>
                    <div class="image-holder">
                        <a href="#">
                            <img src="https://www.oars.com/wp-content/uploads/2016/12/Hatchet-web.jpg" alt="img-1">
                        </a>
                        <div class="desc">
                            Author : 
                            <br>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            <button>Read</button>
                        </div>
                    </div>
                </div>

                <!-- Romance -->
                <div class="Romance" id="Romance">
                    <h2>Romance</h2>

                    <div class="romance-image">
                        <div class="image-holder">
                            <a href="#">
                                <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1581097994-41FddZoWzL.jpg?fill=4:6&resize=980:*" alt="img-1">
                            </a>
                            <div class="desc">
                                Author : 
                                <br>
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                <button>Read</button>
                            </div>
                        </div>

                        <div class="image-holder">
                            <a href="#">
                                <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1581097994-41FddZoWzL.jpg?fill=4:6&resize=980:*" alt="img-1">
                            </a>
                            <div class="desc">
                                Author : 
                                <br>
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                <button>Read</button>
                            </div>
                        </div>

                        <div class="image-holder">
                            <a href="#">
                                <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1581097994-41FddZoWzL.jpg?fill=4:6&resize=980:*" alt="img-1">
                            </a>
                            <div class="desc">
                                Author : 
                                <br>
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                <button>Read</button>
                            </div>
                        </div>

                        <div class="image-holder">
                            <a href="#">
                                <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1581097994-41FddZoWzL.jpg?fill=4:6&resize=980:*" alt="img-1">
                            </a>
                            <div class="desc">
                                Author : 
                                <br>
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                <button>Read</button>
                            </div>
                        </div>

                        <div class="image-holder">
                            <a href="#">
                                <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1581097994-41FddZoWzL.jpg?fill=4:6&resize=980:*" alt="img-1">
                            </a>
                            <div class="desc">
                                Author : 
                                <br>
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                <button>Read</button>
                            </div>
                        </div>

                        <div class="image-holder">
                            <a href="#">
                                <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1581097994-41FddZoWzL.jpg?fill=4:6&resize=980:*" alt="img-1">
                            </a>
                            <div class="desc">
                                Author : 
                                <br>
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                <button>Read</button>
                            </div>
                        </div>

                        <div class="image-holder">
                            <a href="#">
                                <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1581097994-41FddZoWzL.jpg?fill=4:6&resize=980:*" alt="img-1">
                            </a>
                            <div class="desc">
                                Author : 299
                                <br>
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                <button>Read</button>
                            </div>
                        </div>

                        <div class="image-holder">
                            <a href="#">
                                <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1581097994-41FddZoWzL.jpg?fill=4:6&resize=980:*" alt="img-1">
                            </a>
                            <div class="desc">
                                Author : 
                                <br>
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                <button>Read</button>
                            </div>
                        </div>
                        <div class="image-holder">
                            <a href="#">
                                <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1581097994-41FddZoWzL.jpg?fill=4:6&resize=980:*" alt="img-1">
                            </a>
                            <div class="desc">
                                Author : 
                                <br>
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                <button>Read</button>
                            </div>
                        </div>
                        <div class="image-holder">
                            <a href="#">
                                <img src="https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1581097994-41FddZoWzL.jpg?fill=4:6&resize=980:*" alt="img-1">
                            </a>
                            <div class="desc">
                                Author : 
                                <br>
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                <button>Read</button>
                            </div>
                        </div>


                    </div>

                    <!-- Comedy -->
                    <div class="Comedy" id="Comedy">
                        <h2>Comedy</h2>

                        <div class="gallery">
                            <div class="image-holder">
                                <a href="#">
                                    <img src="./images/c1.jfif" alt="img-1">
                                </a>
                                <div class="desc">
                                    Author : 
                                    <br>
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <button>Read</button>
                                </div>
                            </div>

                            <div class="image-holder">
                                <a href="#">
                                    <img src="./images/c2.jfif" alt="img-1">
                                </a>
                                <div class="desc">
                                    Author :
                                    <br>
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <button>Buy</button>
                                </div>
                            </div>

                            <div class="image-holder">
                                <a href="#">
                                    <img src="./images/c3.jfif" alt="img-1">
                                </a>
                                <div class="desc">
                                    Author : 
                                    <br>
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <button>Buy</button>
                                </div>
                            </div>

                            <div class="image-holder">
                                <a href="#">
                                    <img src="./images/c4.jfif" alt="img-1">
                                </a>
                                <div class="desc">
                                    Author : 
                                    <br>
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <button>Free</button>
                                </div>
                            </div>

                            <div class="image-holder">
                                <a href="#">
                                    <img src="./images/c5.jfif" alt="img-1">
                                </a>
                                <div class="desc">
                                    Author : 
                                    <br>
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <button>Free</button>
                                </div>
                            </div>

                            <div class="image-holder">
                                <a href="#">
                                    <img src="./images/c6.jfif" alt="img-1">
                                </a>
                                <div class="desc">
                                    Author :
                                    <br>
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <button>Read</button>
                                </div>
                            </div>

                            <div class="image-holder">
                                <a href="#">
                                    <img src="./images/c7.jfif" alt="img-1">
                                </a>
                                <div class="desc">
                                    Author : 
                                    <br>
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <button>Read</button>
                                </div>
                            </div>

                            <div class="image-holder">
                                <a href="#">
                                    <img src="./images/c8.jfif" alt="img-1">
                                </a>
                                <div class="desc">
                                    Author : 
                                    <br>
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <button>Read</button>
                                </div>
                            </div>
                        </div>
        </div>
    </div>

    <br>

    <right><a href="/index.html" class="btn">Back<i class="fa fa-arrow-right" aria-hidden="true"></i></a></right>


</div>